
<p-card *ngFor="let patient of results$ | async; index as i" [ngStyle]="{margin: '10px'}">
 <h3>{{patient.displayName}}</h3>
 <p><strong>gender:</strong> {{patient.gender}}</p>
 <p><strong>birthdate:</strong> {{patient.birthDate}}</p>
 <p><strong>appoitment's count:</strong> {{patient.appointments?.length}}</p>
 <p><strong>appoitments:</strong></p>
  <div [ngStyle]="{marginLeft: '20px'}">
    <p *ngFor="let appoitment of patient.appointments; index as j">
      {{j+1}}. <i>{{appoitment.resource.start | date}}</i> {{appoitment.resource.description}}
    </p>
  </div>
</p-card>
<p-progressSpinner *ngIf="loader$ | async"></p-progressSpinner>
